/node_modules
html/assests/videos
html/assests/audio
bootstrap-demo/bootstrap-5.1.3
typeScript/node_modules/

JavaScript/node_modules/
JavaScript/package-lock.json
bootstrap-demo/bootstrap-5.1.3
typeScript/node_modules/

reactjs/basic/node_modules/
reactjs/CDN/node_modules/
reactjs/http-demo/node_modules/
reactjs/redux-demo/node_modules/
reactjs/routing-demo/node_modules/

10am-reactjs/basic/node_modules/
10am-reactjs/http-demo/node_modules/
10am-reactjs/redux-demo/node_modules/
10am-reactjs/routing-demo/node_modules/
10am-reactjs/routing-demo/build/
10am-reactjs/react-query/node_modules/
10am-reactjs/react-query/package-lock.json

Nodejs/api-testing/node_modules/
Nodejs/node_modules/
Nodejs/sequelize/node_modules/
Nodejs/test/node_modules/

react-native/Awesome01/node_modules/
react-native/BackgroundChanger04/node_modules/
react-native/CurrencyApp05/node_modules/
react-native/navigation_explore/node_modules/
react-native/navigation_project10/node_modules/
react-native/wiwi-superapp/node_modules/
react-native/AwesomeProject/node_modules/

webpack-demo/node_modules/

docker/demo/node_modules/
docker/demo/package-lock.json